<div class="container-fluid p-2">
  <div class="row w-100 m-0">
    <div class="col">
      <div class="card shadow">
        <div class="d-flex align-items-center justify-content-between p-3">
          <h2 class="m-0">Blogs ({{ blogs.length }})</h2>
          <button mat-raised-button color="primary" (click)="addNewBlog()">
            <mat-icon>add</mat-icon>
            Add New Blogs
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100 m-0 mt-2">
    <div class="col">
      <div class="card-columns">
        <div class="card shadow mb-2" *ngFor="let blog of blogs" (click)="addComment(blog)">
          <img *ngIf="blog.imageUrl != null" [src]="completeUrl(blog.imageUrl)" alt="" class="card-img-top rounded">
          <div class="card-body">
            <div class="d-flex flex-column align-items-start">
              <h3 class="m-0 font-weight-bold">{{ blog.title }}</h3>
              <p class="paraLimit">{{ blog.description }}</p>
            </div>
          </div>
          <div class="card-footer bg-white">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column align-items-start">
                <span class="m-0">By: {{ blog.username }}</span>
                <span class="text-muted" >{{ blog.createdAt | date: 'dd-MM-yyyy hh:mm:ss aa' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
